In [1]:
# Установка PySpark
!pip install pyspark

# Импорт необходимых библиотек
from pyspark.sql import SparkSession

# Создание сессии Spark
spark = SparkSession.builder \
    .appName("EmployeeSalaryComparison") \
    .getOrCreate()

# Создание данных для таблицы
data = [(1, "Joe", 70, 3),
        (2, "Henry", 80, 4),
        (3, "Sam", 60, None),
        (4, "Max", 90, None)]

# Создание DataFrame с указанием имен столбцов
df = spark.createDataFrame(data, ["id", "name", "salary", "managerId"])

# Показать созданную таблицу
print("Исходная таблица:")
df.show()

# Регистрируем DataFrame как временное представление для SQL-запросов
df.createOrReplaceTempView("employees")

# Выполняем SQL-запрос для получения имен сотрудников, которые зарабатывают больше своих менеджеров
result = spark.sql("""
SELECT e.name
FROM employees e
JOIN employees m ON e.managerId = m.id
WHERE e.salary > m.salary
""")

# Выводим результат
print("Сотрудники, которые зарабатывают больше своих менеджеров:")
result.show()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Исходная таблица:
+---+-----+------+---------+
| id| name|salary|managerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     NULL|
|  4|  Max|    90|     NULL|
+---+-----+------+---------+

Сотрудники, которые зарабатывают больше своих менеджеров:
+----+
|name|
+----+
| Joe|
+----+